<h2 class=" mt-5 text-center">Studio Ghibli Characters</h2>
<div class="container mt-5 d-flex flex-wrap scroll-auto">
    <% @characters_list.each do | character | %>
  
        <div class="card my-3 mx-2" style="width: 19rem;">
            <div class="row g-0">
                
                
                <div class="card-body">
                   
                    <h5 class="card-title"><%= character.name %></h5>
                    <% @character_films.each do | film |%>
                                
                        <% if film.people.include?  character.url %>

                            <p class="card-text my-auto ms-1 text-dark fs-6" style="--bs-text-opacity: .75;">
                               - from <%= film.title %>
                            </p>

                        <% end %>
                    <% end %>
           
                    <div class="d-flex flex-row">
                        <h6 class="card-title my-auto">Gender:</h6>
                        <p class="card-text my-auto ms-2"><%= character.gender %></p>
                    </div>
                    <div class="d-flex flex-row">
                        <h6 class="card-title my-auto">Age:</h6>
                        <p class="card-text my-auto ms-2"><%= character.age %></p>
                    </div>
                    <div class="d-flex flex-row">
                        <h6 class="card-title my-auto">Eye Color:</h6>
                        <p class="card-text my-auto ms-2"><%= character.eye_color %></p>
                    </div>
                    <div class="d-flex flex-row">
                        <h6 class="card-title my-auto">Hair Color:</h6>
                        <p class="card-text my-auto ms-2"><%= character.hair_color %></p>
                    </div>
                </div>
           
            </div>
            <span class="badge bg-dark rounded-pill position-absolute top-0 end-0 mx-3 my-3"><%= character.release_date %></span>
        </div>

    <% end %>
</div>